@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 15%;">
    <h1 class="display-4">Welcome to Our University</h1>
    <p class="lead">Empowering Minds, Enriching Lives</p>
</div>
